
    <form [formGroup] ="formCountry"  autocomplete="off" >

<div mat-dialog-title> Pais</div>
<div mat-dialog-ontent class="content">
    
<div class ="row">
    <mat-form-field appearance="outline">
        <mat-label> Nombre </mat-label>
        <input matInput 
        type="text"
        formControlName="name"
        required>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label> Capital </mat-label>
        <input matInput  type="text"
        formControlName="capital"
        
        required>
    </mat-form-field>
    </div>

    <div class ="row">
        <mat-form-field appearance="outline">
            <mat-label> Codigo Pais </mat-label> 
            <input matInput  type="text"
            formControlName="code"
            
            required>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label> Url Bandera </mat-label>
            <input matInput  type="url"
            formControlName="urlFlag"
            
            required>
        </mat-form-field>
    </div>

    <div class ="row">
        <mat-form-field appearance="outline">
            <mat-label> Población </mat-label>
            <input matInput  type="number"
            formControlName="population"
            
            required>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label> Region </mat-label>
            <input matInput type="text"
            formControlName="region"
            
            required>
        </mat-form-field>
        </div>

        <div class ="row">
            <mat-form-field appearance="outline">
                <mat-label> Sub-Region </mat-label>
                <input matInput type="text"
                formControlName="subregion"
                
                required>
            </mat-form-field>
        
            
            </div>
    
 
</div>

<div mat-dialog-actions class="button-container">
    
    <button mat-raised-button color="warn" (click)="enventCancel()"> Cancelar</button>
    <button mat-stroked-button color="primary"
    [disabled]="!formCountry.valid" (click)="onSave()"
    > Guardar</button>
    
</div>



 